.carousel {
  display: flex;
  transition: transform 0.5s ease-out;
}
.carousel > div {
  min-width: 100%;
  height: 100vh; /* Ensure the height is adjustable */
}


.gradient-text {
  background: linear-gradient(to right, #A855F7, #EC4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
