
.main{
padding-top: 50px !important;
padding-bottom: 50px !important;
padding-left: 10px !important;
padding-right: 10px !important;
}
@media (max-width: 768px){
    .main{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        }
    .w-50{
        width: 100% !important;
    }
}