/* KeyMetrics.css */
.bg-black {
    background-color: black;
  }
  
  .text-white {
    color: white;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  
  
  .border-purple-400 {
    --tw-border-opacity: 1;
    border-color: rgba(139, 92, 246, var(--tw-border-opacity));
  }
  
  .gradient-text {
    background: linear-gradient(to right, #A855F7, #EC4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg{
    background-color: #1A1A1A;
}